# Exposes Mob.targetSelector so we can inject a target goal on vanilla hostiles
# (making them attack our neutral mages the same way vanilla hardcodes hostiles
# to attack Iron Golems).
public net.minecraft.world.entity.Mob targetSelector

# Exposes Mob.goalSelector so we can inject CapturedPanicGoal on vanilla
# Villagers that have been captured by a vampire coven jailer.
public net.minecraft.world.entity.Mob goalSelector
